
.navbar{
    background-color: rgb(196, 219, 159);
}

.quem-somos{
    background-color: pink;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}

.titulo{
    margin-bottom: 30px;
    font-style: oblique;
    color: rgb(68, 10, 39);
    font-family: 'Times New Roman', Times, serif;
}

.texto{
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    
}

.parceiros{
    background-color: rgb(117, 223, 226);

}

.servicos{
    background-color: rgb(246, 247, 186);
}

.final{
    background: plum;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
}